---
# Copyright 2022 Red Hat, Inc.
# All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.

- name: Create persistent directories
  become: true
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: directory
    setype: "container_file_t"
    mode: "{{ item.mode | default(omit) }}"
    owner: "{{ item.owner | default(ansible_user) | default(ansible_user_id) }}"
    group: "{{ item.group | default(ansible_user) | default(ansible_user_id) }}"
  loop:
    - {'path': /var/log/containers/openvswitch, 'mode': '0750'}
    - {'path': /var/lib/edpm-config/firewall, 'mode': '0750'}
    - {'path': /var/lib/openvswitch/ovn, "owner": "openvswitch", "group": "openvswitch"}

- name: Enable virt_sandbox_use_netlink for healthcheck
  become: true
  ansible.posix.seboolean:
    name: virt_sandbox_use_netlink
    persistent: true
    state: true
  when:
    - ansible_facts.selinux is defined
    - ansible_facts.selinux.status == "enabled"
