{
    "image": "{{ edpm_nova_compute_image }}",
    "privileged": false,
    "user": "root",
    "restart": "never",
    "command": "python /sbin/nova_statedir_ownership.py",
    "net": "none",
    "security_opt": ["label=disable"],
    "detach": false,
    "environment": {
        "NOVA_STATEDIR_OWNERSHIP_SKIP": false,
        "__OS_DEBUG": false
    },
    "volumes": [
        "/var/lib/nova:/var/lib/nova:shared",
        "/var/lib/_nova_secontext:/var/lib/_nova_secontext:shared,z",
        "/var/lib/openstack/config/nova/nova_statedir_ownership.py:/sbin/nova_statedir_ownership.py:z"
    ]
}
