{%- set edpm_ovn_controller_volumes = [] %}
{%- set edpm_ovn_controller_volumes =
        edpm_ovn_controller_volumes +
        edpm_ovn_controller_common_volumes +
        edpm_ovn_controller_tls_cacert_volumes %}
{%- if edpm_ovn_tls_enabled | bool %}
{%- set edpm_ovn_controller_volumes =
        edpm_ovn_controller_volumes +
        edpm_ovn_controller_tls_volumes %}
{%- endif -%}
image: "{{ edpm_ovn_controller_agent_image }}"
net: host
privileged: true
user: root
restart: always
{% if edpm_ovn_healthcheck %}
healthcheck:
        test: /openstack/healthcheck
        mount: /var/lib/containers/healthchecks/ovn_controller
{% endif %}
depends_on:
  - openvswitch.service
{% if edpm_ovn_cpu_set | default(false) %}
cpuset_cpus: "{{ edpm_ovn_cpu_set }}"
{% endif %}
volumes: {{ edpm_ovn_controller_volumes }}
environment:
  KOLLA_CONFIG_STRATEGY: COPY_ALWAYS
