---

- name: Download multipathd packages
  ansible.builtin.dnf:
    name: "{{ edpm_multipathd_packages }}"
    download_only: true
  become: true
  register: edpm_multipathd_packages_install
  until: edpm_multipathd_packages_install is succeeded
  retries: "{{ edpm_multipathd_download_retries }}"
  delay: "{{ edpm_multipathd_download_delay }}"
