command: "/usr/share/ovn/scripts/ovn-ctl --no-monitor run_sb_ovsdb --db-sb-create-insecure-remote=yes"
permissions:
  - path: /var/log/openvswitch
    owner: root:root
    recurse: true
  - path: /var/log/ovn
    owner: root:root
    recurse: true
