---

- name: Login to container registries if needed
  ansible.builtin.include_role:
    name: osp.edpm.edpm_podman
    tasks_from: login.yml
  tags:
    - edpm_podman
    - download_cache

- name: Download images for edpm_ovn role
  when: '"ovn" in edpm_download_cache_running_services'
  ansible.builtin.include_role:
    name: osp.edpm.edpm_ovn
    tasks_from: download_cache.yml
  tags:
    - edpm_ovn
    - download_cache

- name: Download images for edpm_frr role
  when: '"frr" in edpm_download_cache_running_services'
  ansible.builtin.include_role:
    name: osp.edpm.edpm_frr
    tasks_from: download_cache.yml
  tags:
    - edpm_frr
    - download_cache

- name: Download images for edpm_ovn_bgp_agent role
  when: '"ovn-bgp-agent" in edpm_download_cache_running_services'
  ansible.builtin.include_role:
    name: osp.edpm.edpm_ovn_bgp_agent
    tasks_from: download_cache.yml
  tags:
    - edpm_ovn_bgp_agent

- name: Download images for edpm_neutron_metadata role
  when: '"neutron-metadata" in edpm_download_cache_running_services'
  ansible.builtin.include_role:
    name: osp.edpm.edpm_neutron_metadata
    tasks_from: download_cache.yml
  tags:
    - edpm_neutron_metadata
    - download_cache

- name: Download images for edpm_neutron_ovn role
  when: '"neutron-ovn" in edpm_download_cache_running_services'
  ansible.builtin.include_role:
    name: osp.edpm.edpm_neutron_ovn
    tasks_from: download_cache.yml
  tags:
    - edpm_neutron_ovn
    - download_cache

- name: Download images for edpm_multipathd role
  when: '"nova" in edpm_download_cache_running_services'
  ansible.builtin.include_role:
    name: osp.edpm.edpm_multipathd
    tasks_from: download_cache.yml
  tags:
    - edpm_multipathd
    - download_cache

- name: Download images for edpm_nova role
  when: '"nova" in edpm_download_cache_running_services'
  ansible.builtin.include_role:
    name: osp.edpm.edpm_nova
    tasks_from: download_cache.yml
  tags:
    - edpm_nova
    - download_cache

- name: Download images for edpm_neutron_sriov role
  when: '"neutron-sriov" in edpm_download_cache_running_services'
  ansible.builtin.include_role:
    name: osp.edpm.edpm_neutron_sriov
    tasks_from: download_cache.yml
  tags:
    - edpm_neutron_sriov
    - download_cache

- name: Download images for edpm_neutron_dhcp role
  when: '"neutron-dhcp" in edpm_download_cache_running_services'
  ansible.builtin.include_role:
    name: osp.edpm.edpm_neutron_dhcp
    tasks_from: download_cache.yml

- name: Download images for edpm_telemetry role
  when: '"telemetry" in edpm_download_cache_running_services'
  ansible.builtin.include_role:
    name: osp.edpm.edpm_telemetry
    tasks_from: download_cache.yml

- name: Download images for edpm_telemetry_power_monitoring role
  when: '"telemetry-power-monitoring" in edpm_download_cache_running_services'
  ansible.builtin.include_role:
    name: osp.edpm.edpm_telemetry_power_monitoring
    tasks_from: download_cache.yml

- name: Download images for edpm_swift role
  when: '"swift" in edpm_download_cache_running_services'
  ansible.builtin.include_role:
    name: osp.edpm.edpm_swift
    tasks_from: download_cache.yml
