start_order: 1
image: {{ edpm_nova_libvirt_container_image }}
ulimit: {{ edpm_nova_libvirt_container_ulimit }}
cgroupns: host
net: host
pid: {{ edpm_nova_libvirt_container_pid }}
pids_limit: {{ edpm_nova_libvirt_container_pids_limit }}
privileged: true
security_opt:
  - label=level:s0
  - label=type:spc_t
  - label=filetype:container_share_t
restart: always
depends_on:
  - edpm_nova_virtlogd.service
volumes:
  {{ edpm_nova_libvirt_volumes +
     ['/var/lib/kolla/config_files/nova_virtsecretd.json:/var/lib/kolla/config_files/config.json:ro'] }}
environment:
  KOLLA_CONFIG_STRATEGY: COPY_ALWAYS
