start_order: 0
image: {{ edpm_nova_libvirt_container_image }}
ulimit: {{ edpm_nova_libvirt_container_ulimit }}
cgroupns: host
net: host
pid: {{ edpm_nova_libvirt_container_pid }}
pids_limit: {{ edpm_nova_libvirt_container_pids_limit }}
security_opt:
  - label=disable
cap_add: SYS_ADMIN
restart: always
volumes:
  {{ edpm_nova_libvirt_volumes +
     ['/var/lib/kolla/config_files/nova_virtlogd.json:/var/lib/kolla/config_files/config.json:ro'] }}
environment:
  KOLLA_CONFIG_STRATEGY: COPY_ALWAYS
