---
# Copyright 2023 Red Hat, Inc.
# All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.


- name: Prepare
  hosts: all
  roles:
    - role: ../../../../molecule/common/test_deps
    - role: osp.edpm.env_data

- name: Setup DUT
  hosts: all
  tasks:
    - name: set /etc/localtime
      become: true
      ansible.builtin.file:
        path: /etc/localtime
        src: /usr/share/zoneinfo/UTC
        state: link

    - name: set timezone
      ansible.builtin.import_role:
        name: osp.edpm.edpm_timezone

    - name: install podman
      ansible.builtin.import_role:
        name: osp.edpm.edpm_podman

    - name: Create firewall directory
      become: true
      ansible.builtin.file:
        path: '/var/lib/edpm-config/firewall'
        state: directory
        owner: root
        group: root
        mode: 0750

    - name: open port 22 (edpm_nftables will active this later)
      become: true
      ansible.builtin.copy:
        dest: /var/lib/edpm-config/firewall/sshd-networks.yaml
        content: |
          - rule_name: 003 Allow SSH
            rule:
              proto: tcp
              dport: 22

    - name: Create Ceph client file directory
      become: true
      ansible.builtin.file:
        path: '/var/lib/openstack/config/ceph/'
        state: directory
        owner: root
        group: root
        mode: 0755

    - name: Create random mock Ceph FSID
      ansible.builtin.command: uuidgen
      register: fsid

    - name: Create random mock Cephx key
      ansible.builtin.shell:
      args:
        executable: /usr/bin/python
        cmd: |
          import os,struct,time,base64
          key = os.urandom(16)
          header = struct.pack("<hiih", 1, int(time.time()), 0, len(key))
          print(base64.b64encode(header + key).decode())
      register: cephx

    - name: Create a mock Ceph conf file
      become: true
      ansible.builtin.copy:
        dest: /var/lib/openstack/config/ceph/ceph.conf
        content: |
          [global]
          fsid = {{ fsid.stdout }}
          mon host = 192.168.42.6,192.168.42.7,192.168.42.8

    - name: Create a mock Cephx keyring file
      become: true
      ansible.builtin.copy:
        dest: /var/lib/openstack/config/ceph/ceph.client.openstack.keyring
        content: |
          [client.openstack]
          key = {{ cephx.stdout }}
          caps mgr = allow rw
          caps mon = profile r
          caps osd = allow class-read object_prefix rbd_children, {{
                                    pools | map('regex_replace', '^(.*)$',
                                    'allow rwx pool=\1') | join(', ') }}
      vars:
        pools: ['vms', 'volumes', 'images']

    - name: Create ssh_known_hosts file
      become: true
      ansible.builtin.file:
        path: '/etc/ssh/ssh_known_hosts'
        state: touch
        owner: root
        group: root
        mode: '0655'
