---
# This is an example playbook to execute Ansible tests.

- name: Verify
  hosts: compute-1
  gather_facts: false
  vars:
    test_helper_dir: "../../../../molecule/test-helpers"
  tasks:
    - name: ensure expected directories exist
      ansible.builtin.include_tasks: "{{test_helper_dir}}/verify_dir.yaml"
      loop:
        # common directories
        - "/etc/tmpfiles.d/"
        - "/var/lib/openstack"
        - "/var/lib/openstack/config/containers"
        - "/var/log/containers"
        - "/var/log/containers/stdouts"
        # extrenal deps
        - "/etc/ceph"
        # libvirt directories
        - "/var/lib/libvirt"
        - "/var/lib/openstack/config/libvirt"
        - "/var/log/containers/libvirt"
    - name: ensure firewall is configured
      ansible.builtin.include_tasks: "test-helpers/verify_firewall.yaml"
    - name: ensure ceph secret is configured
      ansible.builtin.include_tasks: "test-helpers/verify_ceph_secret.yaml"
    - name: ensure systemd services are defined and functional
      ansible.builtin.include_tasks: "{{test_helper_dir}}/verify_systemd_unit.yaml"
      loop:
        - { "name": "edpm_libvirt_virtlogd.service" }
        - { "name": "edpm_libvirt_virtnodedevd.service" }
        - { "name": "edpm_libvirt_virtproxyd.service" }
        - { "name": "edpm_libvirt_virtqemud.service" }
        - { "name": "edpm_libvirt_virtsecretd.service" }
    - name: ensure podman container exists and are running
      ansible.builtin.include_tasks: "{{test_helper_dir}}/verify_podman.yaml"
      loop:
        - "libvirt_virtlogd"
        - "libvirt_virtnodedevd"
        - "libvirt_virtproxyd"
        - "libvirt_virtqemud"
        - "libvirt_virtsecretd"
    - name: ensure libvirt.target exist and are running
      ansible.builtin.include_tasks: "{{test_helper_dir}}/verify_systemd_unit.yaml"
      loop:
        - { "name": "edpm_libvirt.target", "enabled": "static"}
        - { "name": "edpm_libvirt_guests.service", "running":false }
        - { "name": "virt-guest-shutdown.target", "enabled": "static", "running":false }
