*.py[cod]

# Testing cruft
.venv
*.egg*
egg
.coverage
.testrepository
__pycache__
build

# Editors
*~
.*.swp
.*sw?

# vscode
.vscode

# Playbook retry files
*.retry

# Sphinx
docs/build

ansible-errors.json
pytestdebug.log

# JetBrain
.idea/
.cache

# test output
tests/output/**

# collection build
*.tar.gz

# Dynamic antsibull-docs source
docs/source/collections/**
