---
repos:
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: pytest tests/test_nova_statedir_ownership.py
        language: python
        types: [python]
        pass_filenames: false
        always_run: true
        additional_dependencies:
          - pytest
          - oslotest
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: fix-byte-order-marker
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
      - id: check-yaml
        files: .*\.(yaml|yml)$
        args: [--allow-multiple-documents]
  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        # List of ignored checks overrides the flake8 defaults.
        # Changes to the list, especially extensions should be
        # justified with relation to defaults.
        # E501 - line is too long, would require local ignore or obfuscating changes
        # W503 - line break before binary operator, ignored by default
        entry: flake8 --ignore=E501,W503
  - repo: https://github.com/ansible/ansible-lint
    rev: v25.9.0
    hooks:
      - id: ansible-lint
  - repo: https://github.com/openstack-dev/bashate.git
    rev: 2.1.1
    hooks:
      - id: bashate
        entry: bashate --error . --ignore=E006,E040
        verbose: false
        # Run bashate check for all bash scripts
        # Ignores the following rules:
        # E006: Line longer than 79 columns (as many scripts use jinja
        #       templating, this is very difficult)
        # E040: Syntax error determined using `bash -n` (as many scripts
        #       use jinja templating, this will often fail and the syntax
        #       error will be discovered in execution anyway)
