{%- set edpm_ovn_bgp_agent_local_ovn_cluster_volumes = [] %}
{%- set edpm_ovn_bgp_agent_local_ovn_cluster_volumes =
        edpm_ovn_bgp_agent_local_ovn_cluster_volumes +
        edpm_ovn_bgp_agent_local_ovn_cluster_common_volumes +
        edpm_ovn_bgp_agent_local_ovn_nb_volumes %}
{%- if edpm_enable_internal_tls|bool %}
{%- set edpm_ovn_bgp_agent_local_ovn_cluster_volumes =
        edpm_ovn_bgp_agent_local_ovn_cluster_volumes +
        edpm_ovn_bgp_agent_local_ovn_cluster_tls_volumes %}
{%- endif -%}
start_order: 1
image: "{{ edpm_ovn_bgp_agent_local_ovn_nb_db_image }}"
net: host
privileged: true
user: root
restart: always
depends_on:
  - openvswitch.service
{% if edpm_ovn_cpu_set|default(false) %}
cpuset_cpus: "{{ edpm_ovn_cpu_set }}"
{% endif %}
volumes: {{ edpm_ovn_bgp_agent_local_ovn_cluster_volumes }}
environment:
  KOLLA_CONFIG_STRATEGY: COPY_ALWAYS
