---

- name: Verify and stop nova_virtlogd
  become: true
  tags:
    - adoption
    - nova
  block:
    - name: Check if nova_virtlogd container exists
      ansible.builtin.command: podman ps -a --filter name=nova_virtlogd --format \{\{.Names\}\}
      register: nova_virtlogd_status
      changed_when: false
    - name: Stop nova_virtlogd containers not managed by service units
      ansible.builtin.shell: "podman stop nova_virtlogd '||' true"
      changed_when: false
      when: nova_virtlogd_status.stdout_lines | length == 1

- name: Stop and disable compute services
  tags:
    - adoption
    - nova
  become: true
  ansible.builtin.shell: |
    if systemctl is-active {{ item }}; then
      systemctl disable --now {{ item }}
      test -f /etc/systemd/system/{{ item }} || sudo systemctl mask {{ item }}
    fi
  loop: "{{ edpm_old_tripleo_compute_sevices }}"
  changed_when: false
  when: edpm_old_tripleo_compute_sevices | default([]) | length > 0
