---
- name: Validate extra bind mounts if specified
  when: edpm_nova_extra_bind_mounts | length > 0
  tags:
    - configure
    - nova
  block:
    - name: Get source directory details
      become: true
      ansible.builtin.stat:
        path: "{{ item.src }}"
      register: source_dir_results
      loop: "{{ edpm_nova_extra_bind_mounts }}"
      tags:
        - configure
        - nova

    - name: Assert edpm_nova_extra_bind_mounts source directories exist
      ansible.builtin.assert:
        that:
          - "source_dir_results.results | map(attribute='stat.exists') | list"
      tags:
        - configure
        - nova

    - name: Assert edpm_nova_extra_bind_mounts src paths are valid
      ansible.builtin.assert:
        that:
          - "'{{ item }}' not in  {{ edpm_nova_extra_bind_mounts }} | map(attribute='src') | list"
      loop:
        - /var/lib/nova
        - /var/lib/openstack
      tags:
        - configure
        - nova

    - name: Assert edpm_nova_extra_bind_mounts dest paths do not collide with standard mounts
      ansible.builtin.assert:
        that:
          - "'{{ item }}' not in {{ edpm_nova_extra_bind_mounts }} | map(attribute='dest') | list "
      loop:
        - /var/lib/nova
        - /var/lib/openstack
        - /etc/nova
      tags:
        - configure
        - nova

    - name: Assert edpm_nova_extra_bind_mounts dest paths are subdirectory of valid paths
      ansible.builtin.assert:
        that:
          - "'{{ item.dest | regex_search('^(/etc|/opt|/var/lib)') }}' is not none"
      loop: "{{ edpm_nova_extra_bind_mounts }}"

- name: Create sync config dirs
  tags:
    - configure
    - nova
  ansible.builtin.file:
    path: "{{ lookup('env', 'HOME') }}/staging"
    state: "directory"
    mode: "0766"
  delegate_to: localhost
  run_once: true

- name: Gather user fact
  ansible.builtin.setup:
    gather_subset:
      - "!all"
      - "!min"
      - "user"
  when:
    - ansible_user is undefined

- name: Create container config dirs
  tags:
    - configure
    - nova
  become: true
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: "directory"
    setype: "container_file_t"
    owner: "{{ item.owner | default(ansible_user) | default(ansible_user_id) }}"
    group: "{{ item.group | default(ansible_user) | default(ansible_user_id) }}"
    mode: "{{ item.mode | default(omit) }}"
  loop:
    - {"path": "{{ edpm_nova_config_dest }}", "mode": "0755"}
    - {"path": "/var/lib/openstack/config/containers", "mode": "0755"}
    - {"path": "{{ edpm_nova_nvme_cleaner_config_dest }}", "mode": "0755"}

- name: Create persistent directories
  tags:
    - configure
    - nova
  become: true
  ansible.builtin.file:
    path: "{{ item.path }}"
    setype: "container_file_t"
    state: "directory"
    owner: "{{ item.owner | default(ansible_user) | default(ansible_user_id) }}"
    group: "{{ item.group | default(ansible_user) | default(ansible_user_id) }}"
    mode: "{{ item.mode | default(omit) }}"
  loop:
    - {"path": "/var/lib/nova", "mode": "0755"}
    - {"path": "/var/lib/_nova_secontext", "mode": "0755"}
    - {"path": "/var/lib/nova/instances", "mode": "0755"}
    - {"path": "/etc/ceph", "mode": "0750", "owner": "root", "group": "root"}
    - {"path": "/etc/multipath"}
    - {"path": "/etc/nvme"}
    - {"path": "/run/openvswitch"}

- name: Discover configmaps in {{ edpm_nova_config_src }}
  ansible.builtin.find:
    paths: "{{ edpm_nova_config_src }}"
    file_type: file
    recurse: true
  register: edpm_nova_configmaps
  changed_when: false
  check_mode: false
  delegate_to: localhost

- name: Flatten configmaps
  tags:
    - configure
    - nova
  ansible.builtin.copy:
    src: "{{ item.path }}"
    dest: "{{ lookup('env', 'HOME') }}/staging/{{ item.path | basename }}"
    mode: "0644"
  loop: "{{ edpm_nova_configmaps.files }}"
  delegate_to: localhost
  run_once: true

- name: Configure nova user and group on the host
  ansible.builtin.import_role:
    name: edpm_users
  vars:
    edpm_users_users:
      # 42436 is matching with the uid and gid created by kolla in the nova containers
      - {"name": "nova", "uid": "42436", "gid": "42436", "shell": "/bin/sh", "comment": "nova user", "groups": "libvirt"}
    edpm_users_extra_dirs: []
  tags:
    - edpm_users

- name: Sync nova config files
  tags:
    - configure
    - nova
  ansible.posix.synchronize:
    src: "{{ lookup('env', 'HOME') }}/staging/"
    dest: "{{ edpm_nova_config_dest }}"
    recursive: true
    delete: true
  notify:
    - Restart nova

- name: Render nova config files
  tags:
    - configure
    - nova
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ edpm_nova_config_dest }}/{{ item.dest }}"
    setype: "container_file_t"
    mode: "0644"
  loop:
    - {"src": "config.json.j2", "dest": "config.json"}
    - {"src": "nova-blank.conf", "dest": "nova-blank.conf"}
    - {"src": "ssh-config", "dest": "ssh-config"}
    # NOTE(gibi): This is unfortunate as we would like to avoid config
    # generation in ansible. This config is only needed to specify the IP
    # address of the node nova-compute should use. Right now this is hardcoded
    # to use the ctlplane_ip. In the future we might want to support
    # configuring which network nova-compute uses when connecting between
    # compute nodes. However that needs careful syncing between IPs in the
    # known_hosts file and IPs in the TLS certificates.
    # NOTE(gibi): There is an upstream nova blueprint that will allow us to
    # remove this host specific configuration in the future (not earlier than
    # openstack Caracal)
    # https://blueprints.launchpad.net/nova/+spec/libvirt-migrate-with-hostname-instead-of-ip
    - {"src": "02-nova-host-specific.conf.j2", "dest": "02-nova-host-specific.conf"}
    - {"src": "nova_statedir_ownership.py", "dest": "nova_statedir_ownership.py"}
    - {"src": "run-on-host", "dest": "run-on-host"}
  notify:
    - Restart nova init
    - Restart nova


- name: Render nvme cleaner config files
  when: edpm_nova_enable_nvme_cleaner
  tags:
    - configure
    - nova
  ansible.builtin.template:
    src: "nova_nvme_cleaner_config.json.j2"
    dest: "{{ edpm_nova_nvme_cleaner_config_dest }}/config.json"
    setype: "container_file_t"
    mode: "0644"
  notify:
    - Restart nova

- name: Create .ssh directory for the nova user on the host
  become: true
  ansible.builtin.file:
    path: "/home/nova/.ssh"
    state: "directory"
    owner: nova
    group: nova
    mode: '0700'

- name: Copy the migration ssh public key as authorized_keys to the nova user
  become: true
  ansible.builtin.copy:
    src: "{{ edpm_nova_config_dest }}/ssh-publickey"
    remote_src: true
    dest: "/home/nova/.ssh/authorized_keys"
    mode: '0600'
    owner: nova
    group: nova

- name: Check if compute_id exists in state_path
  tags:
    - configure
    - nova
  become: true
  ansible.builtin.stat:
    path: /var/lib/nova/compute_id
  register: compute_id

- name: Pre-generate compute_id if not already exists
  tags:
    - configure
    - nova
  become: true
  ansible.builtin.copy:
    dest: "/var/lib/nova/compute_id"
    owner: nova
    group: nova
    mode: "0400"
    attributes: "+i"
    content: |
      {{ lookup('ansible.builtin.pipe', 'uuidgen') }}
  when: not compute_id.stat.exists

- name: Make compute_id ready-only
  tags:
    - configure
    - nova
  become: true
  ansible.builtin.file:
    path: "/var/lib/nova/compute_id"
    state: file
    owner: nova
    group: nova
    mode: "0400"
    # NOTE(gibi): podman 4.6.0 (OSP 17.1) has a race condition that leads to
    # container startup failure if a mounted file has the attribute set
    # while podman 4.9.4 (OSP 18) does not show this issue
    # attributes: "+i"
  when: compute_id.stat.exists
