---

- name: Check if ca bundle exists
  ansible.builtin.stat:
    path: "{{ edpm_nova_tls_ca_src_dir }}/tls-ca-bundle.pem"
  register: ca_bundle_stat_res

- name: Render nova container
  tags:
    - install
    - nova
  ansible.builtin.template:
    src: "nova_compute.json.j2"
    dest: "/var/lib/openstack/config/containers/nova_compute.json"
    setype: "container_file_t"
    mode: "0644"
  vars:
    ca_bundle_exists: "{{ ca_bundle_stat_res.stat.exists }}"
  notify:
    - Restart nova

- name: Render nova init container
  tags:
    - install
    - nova
  ansible.builtin.template:
    src: "nova_compute_init.json.j2"
    dest: "/var/lib/openstack/config/containers/nova_compute_init.json"
    setype: "container_file_t"
    mode: "0700"
  notify:
    - Restart nova init

- name: Deploy nova init container
  tags:
    - install
    - nova
  ansible.builtin.include_role:
    name: osp.edpm.edpm_container_manage
  vars:
    edpm_container_manage_config: '/var/lib/openstack/config/containers'
    edpm_container_manage_healthcheck_disabled: true
    edpm_container_manage_config_patterns: 'nova_compute_init.json'
    edpm_container_manage_clean_orphans: false

- name: Deploy nova container
  tags:
    - install
    - nova
  ansible.builtin.include_role:
    name: osp.edpm.edpm_container_manage
  vars:
    edpm_container_manage_config: '/var/lib/openstack/config/containers'
    edpm_container_manage_healthcheck_disabled: true
    edpm_container_manage_config_patterns: 'nova_compute.json'
    edpm_container_manage_clean_orphans: false

- name: Render nvme cleaner container
  when: edpm_nova_enable_nvme_cleaner
  tags:
    - install
    - nova
  ansible.builtin.template:
    src: "nova_nvme_cleaner.json.j2"
    dest: "/var/lib/openstack/config/containers/nova_nvme_cleaner.json"
    setype: "container_file_t"
    mode: "0644"
  vars:
    ca_bundle_exists: "{{ ca_bundle_stat_res.stat.exists }}"
  notify:
    - Restart nova

- name: Deploy nvme cleaner container
  when: edpm_nova_enable_nvme_cleaner
  tags:
    - install
    - nova
  ansible.builtin.include_role:
    name: osp.edpm.edpm_container_manage
  vars:
    edpm_container_manage_config: '/var/lib/openstack/config/containers'
    edpm_container_manage_healthcheck_disabled: true
    edpm_container_manage_config_patterns: 'nova_nvme_cleaner.json'
    edpm_container_manage_clean_orphans: false
