---

- name: Check if ca bundle exists
  ansible.builtin.stat:
    path: "{{ edpm_nova_tls_ca_src_dir }}/tls-ca-bundle.pem"
  register: ca_bundle_stat_res

- name: Deploy nova init container
  tags:
    - install
    - nova
  ansible.builtin.include_role:
    name: osp.edpm.edpm_container_standalone
  vars:
    edpm_container_standalone_service: "nova_compute_init"
    edpm_service_name: "{{ edpm_nova_service_name }}"
    edpm_container_state_append: false  # First container - replace existing state
    edpm_container_standalone_container_defs:
      nova_compute_init: "{{ lookup('template', 'container_defs/nova_compute_init.yaml.j2') | from_yaml }}"
    ca_bundle_exists: "{{ ca_bundle_stat_res.stat.exists }}"

- name: Deploy nova compute container
  tags:
    - install
    - nova
  ansible.builtin.include_role:
    name: osp.edpm.edpm_container_standalone
  vars:
    edpm_container_standalone_service: "nova_compute"
    edpm_service_name: "{{ edpm_nova_service_name }}"
    edpm_container_state_append: true  # Append to nova service
    edpm_container_standalone_container_defs:
      nova_compute: "{{ lookup('template', 'container_defs/nova_compute.yaml.j2') | from_yaml }}"
    edpm_container_standalone_kolla_config_files:
      nova_compute: "{{ lookup('file', 'files/kolla_config/nova_compute.yaml') | from_yaml }}"
    ca_bundle_exists: "{{ ca_bundle_stat_res.stat.exists }}"

- name: Deploy nvme cleaner container
  when: edpm_nova_enable_nvme_cleaner
  tags:
    - install
    - nova
  ansible.builtin.include_role:
    name: osp.edpm.edpm_container_standalone
  vars:
    edpm_container_standalone_service: "nova_nvme_cleaner"
    edpm_service_name: "{{ edpm_nova_service_name }}"
    edpm_container_state_append: true  # Append to nova service
    edpm_container_standalone_container_defs:
      nova_nvme_cleaner: "{{ lookup('template', 'container_defs/nova_nvme_cleaner.yaml.j2') | from_yaml }}"
    edpm_container_standalone_kolla_config_files:
      nova_nvme_cleaner: "{{ lookup('template', 'kolla_config/nova_nvme_cleaner.yaml.j2') | from_yaml }}"
    ca_bundle_exists: "{{ ca_bundle_stat_res.stat.exists }}"

- name: Remove nvme cleaner when disabled
  when: not edpm_nova_enable_nvme_cleaner
  tags:
    - install
    - nova
    - cleanup
  ansible.builtin.include_role:
    name: osp.edpm.edpm_container_rm
  vars:
    edpm_containers_to_rm:
      - nova_nvme_cleaner
