---

- name: Create libvirt config dir
  tags:
    - configure
    - libvirt
  become: true
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: directory
    setype: "{{ item.setype | default('container_file_t') }}"
    owner: "{{ item.owner | default(ansible_user) }}"
    group: "{{ item.group | default(ansible_user) }}"
    mode: "{{ item.mode | default(omit) }}"
  loop:
    - {"path": "/etc/tmpfiles.d/", "owner": "root", "group": "root"}
    - {"path": "/var/lib/edpm-config/firewall", "owner": "root", "group": "root"}
    - {"path": "/etc/pki/libvirt", "owner": "root", "group": "root"}
    - {"path": "/etc/pki/libvirt/private", "owner": "root", "group": "root"}
    - {"path": "/etc/pki/CA/libvirt", "owner": "root", "group": "root"}

- name: Render libvirt config files
  tags:
    - configure
    - libvirt
  become: true
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "/etc/libvirt/{{ item.dest }}"
    mode: "0640"
    # FIXME: update to libvirt user/group
    owner: "root"
    group: "root"
  loop:
    - {"src": "virtlogd.conf", "dest": "virtlogd.conf"}
    - {"src": "virtnodedevd.conf", "dest": "virtnodedevd.conf"}
    - {"src": "virtproxyd.conf", "dest": "virtproxyd.conf"}
    - {"src": "virtqemud.conf", "dest": "virtqemud.conf"}
    - {"src": "qemu.conf.j2", "dest": "qemu.conf"}
    - {"src": "virtsecretd.conf", "dest": "virtsecretd.conf"}
  notify:
    - Restart libvirt

- name: Create libvirt socket activation drop-in directories
  tags:
    - configure
    - libvirt
  become: true
  vars:
    socket_suffix: ".socket.d"
    socket_types: ['', '-ro', '-admin']
  ansible.builtin.file:
    path: "/etc/systemd/system/{{ item.0 }}{{ item.1 }}{{ socket_suffix }}"
    state: directory
    owner: root
    group: root
    mode: "0755"
  when: not (item.0 == 'virtlogd' and item.1 == '-ro')
  loop: "{{ edpm_libvirt_services | product(socket_types) | list }}"
  notify:
    - Restart libvirt

- name: Render libvirt socket activation drop-in files
  tags:
    - configure
    - libvirt
  become: true
  vars:
    socket_suffix: ".socket.d"
    socket_types: ['', '-ro', '-admin']
  ansible.builtin.template:
    src: "libvirt-socket.unit.j2"
    dest: "/etc/systemd/system/{{ item.0 }}{{ item.1 }}{{ socket_suffix }}/override.conf"
    mode: "0644"
    owner: "root"
    group: "root"
  when: not (item.0 == 'virtlogd' and item.1 == '-ro')
  loop: "{{ edpm_libvirt_services | product(socket_types) | list }}"
  notify:
    - Restart libvirt

- name: Check if /run/libvirt has container_file_t selinux label
  tags:
    - configure
    - libvirt
  ansible.builtin.shell: |
    set -o pipefail
    ls -lZ /run/libvirt | grep container_file_t
  register: run_libvirt
  failed_when: run_libvirt.rc not in [0, 1]
  changed_when: false

- name: Restore selinux label for /run/libvirt to virt_var_run_t
  tags:
    - configure
    - libvirt
  become: true
  ansible.builtin.command: "restorecon -R /run/libvirt"
  changed_when: true
  when: run_libvirt.rc == 0

- name: Enable os_enable_vtpm SELinux boolean for vTPM
  tags:
    - configure
    - libvirt
  become: true
  ansible.posix.seboolean:
    name: os_enable_vtpm
    persistent: true
    state: true

- name: Move TLS files to the right location on the compute node
  tags:
    - configure
    - libvirt
  become: true
  loop:
    - {"src": "{{ edpm_libvirt_tls_cert_src_dir }}/tls.crt", "dest": "/etc/pki/libvirt/servercert.pem"}
    - {"src": "{{ edpm_libvirt_tls_cert_src_dir }}/tls.key", "dest": "/etc/pki/libvirt/private/serverkey.pem"}
    - {"src": "{{ edpm_libvirt_tls_cert_src_dir }}/tls.crt", "dest": "/etc/pki/libvirt/clientcert.pem"}
    - {"src": "{{ edpm_libvirt_tls_cert_src_dir }}/tls.key", "dest": "/etc/pki/libvirt/private/clientkey.pem"}
    - {"src": "{{ edpm_libvirt_tls_ca_src_dir }}/ca.crt", "dest": "/etc/pki/CA/cacert.pem"}
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    remote_src: true
    mode: "0600"
    owner: "root"
    group: "root"
  when: edpm_libvirt_tls_certs_enabled
