---
# Copyright 2024 Red Hat, Inc.
# All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.

- name: Gather ansible_local facts
  ansible.builtin.setup:
    filter: ansible_local
  when:
    - ansible_local is not defined

- name: Load nvme-fabrics
  become: true
  ansible.builtin.import_role:
    name: edpm_module_load
  vars:
    modules:
      - name: nvme-fabrics

- name: Install nvme-cli
  # The nvme-cli package is installed because it creates udev rules and some
  # files in /etc/nvme.
  become: true
  ansible.builtin.package:
    name: nvme-cli
    state: present
  when: not ansible_local.bootc
