image: {{ edpm_multipathd_image }}
net: host
privileged: true
restart: always
volumes:
  {{ edpm_container_standalone_common_volumes | default([]) + edpm_multipathd_volumes }}
environment:
  KOLLA_CONFIG_STRATEGY: COPY_ALWAYS
