---
dependency:
  name: galaxy
  options:
    role-file: collections.yml
driver:
  name: podman
platforms:
- command: /sbin/init
  dockerfile: ../../../../molecule/common/Containerfile.j2
  image: ${EDPM_ANSIBLE_MOLECULE_IMAGE:-"ubi9/ubi-init"}
  name: instance
  privileged: true
  registry:
    url: ${EDPM_ANSIBLE_MOLECULE_REGISTRY:-"registry.access.redhat.com"}
  ulimits:
  - host
provisioner:
  inventory:
    hosts:
      all:
        hosts:
          instance:
            ansible_connection: local
            ansible_host: localhost
  log: true
  name: ansible
  playbooks:
    # cleanup: ${MOLECULE_SCENARIO_DIRECTORY}/../../resources/molecule/cleanup.yml
    prepare: ${MOLECULE_SCENARIO_DIRECTORY}/../../resources/molecule/prepare-bootc.yml
scenario:
  name: kernelargs-update-bootc
  test_sequence:
  - prepare
  - converge
  - cleanup
verifier:
  name: testinfra
