{
    "image": "{{ edpm_telemetry_kepler_image }}",
    "privileged": "true",
    "restart": "always",
    "ports": ["8888:8888"],
    "command": "-v 2",
    "recreate": true,
    "environment": {
        "ENABLE_GPU": "true",
        "ENABLE_PROCESS_METRICS": "true",
        "EXPOSE_ESTIMATED_IDLE_POWER_METRICS": "true",
        "EXPOSE_VM_METRICS": "true",
        "LIBVIRT_METADATA_URI": "http://openstack.org/xmlns/libvirt/nova/1.1"
    },
{% if edpm_telemetry_power_monitoring_healthcheck %}
    "healthcheck": {
        "test": "/openstack/healthcheck kepler",
        "mount": "/var/lib/openstack/healthchecks/kepler"
    },
{% endif %}
    "volumes": [
        "/run/libvirt:/run/libvirt:shared,ro",
        "/sys/:/sys/",
        "/proc:/proc"
    ]
}
