{
    "image": "{{ edpm_telemetry_kepler_image }}",
    "privileged": "true",
    "restart": "always",
    "ports": ["8888:8888"],
    "net": "host",
    "command": "--config.file=/etc/kepler/kepler-config.yaml",
    "recreate": true,
{% if edpm_telemetry_power_monitoring_healthcheck %}
    "healthcheck": {
        "test": "/openstack/healthcheck kepler",
        "mount": "/var/lib/openstack/healthchecks/kepler"
    },
{% endif %}
    "volumes": [
        "{{ edpm_telemetry_config_dest }}/kepler-config.yaml:/etc/kepler/kepler-config.yaml:ro",
        "/lib/modules:/lib/modules:ro",
        "/run/libvirt:/run/libvirt:shared,ro",
        "/sys:/sys",
        "/proc:/proc"
    ]
}
