---
argument_specs:
  # ./roles/edpm_download_cache/tasks/main.yml entry point
  main:
    short_description: The main entry point for the edpm_download_cache role.
    options:
      edpm_download_role_install_requirements:
        type: bool
        default: true
        description: Download and install role dependencies
      edpm_download_cache_packages:
        type: bool
        default: true
        description: Enable caching of packages
      edpm_download_cache_container_images:
        type: bool
        default: true
        description: Enable caching of container images
      edpm_download_cache_running_services:
        type: list
        default: edpm_service_types
        description: >
          Used to select which list of service types are running
          on the machine. The list is provided by openstack-operator.
      edpm_download_cache_podman_auth_file:
        type: str
        default: ~/.config/containers/auth.json
        description: Location of authentication file to be used by podman.
