---
dependency:
  name: galaxy
driver:
  name: podman
platforms:
- name: edpm-0
  command: /sbin/init
  dockerfile: ../../../../molecule/common/Containerfile.j2
  image: ${EDPM_ANSIBLE_MOLECULE_IMAGE:-"ubi9/ubi-init"}
  registry:
    url: ${EDPM_ANSIBLE_MOLECULE_REGISTRY:-"registry.access.redhat.com"}
  ulimits:
  - host
provisioner:
  name: ansible
  inventory:
    hosts:
      all:
        vars:
          edpm_pre_adoption_validation_hostname_enabled: false
          edpm_pre_adoption_validation_tuned_enabled: false
          # this is a kernel arg isn't defined in the test env therefore
          # we can use it for a negative scenario where the check fails
          edpm_kernel_args: "test=1"
        hosts:
          edpm-0:
            canonical_hostname: edpm-0.localdomain

verifier:
  name: ansible
scenario:
  test_sequence:
     - destroy
     - create
     - prepare
     - converge
