image: {{ edpm_logrotate_crond_image }}
net: none
pid: {{ edpm_logrotate_crond_podman_pid }}
privileged: true
user: root
restart: always
healthcheck:
  test: '/usr/share/openstack-edpm-common/healthcheck/cron'
volumes:
  {{ edpm_container_standalone_common_volumes | default([]) + edpm_logrotate_crond_volumes }}
environment:
  KOLLA_CONFIG_STRATEGY: COPY_ALWAYS
