---
apiVersion: v1
kind: Pod
metadata:
  annotations:
    bind-mount-options: /var/lib/openstack/healthchecks/logrotate_crond:z
  labels:
    app: logrotatecrond
  name: logrotatecrond
spec:
  volumes:
  {% set vols = edpm_container_standalone_common_volumes | default([]) + edpm_logrotate_crond_volumes %}
  {%- for vol in vols -%}
  - hostPath: 
      path: {{ vol.path }}
    name: {{ vol.name }}
  {% endfor -%}
  containers:
  - args:
    - kolla_start
    env:
    - name: KOLLA_CONFIG_STRATEGY
      value: COPY_ALWAYS
    image: {{ edpm_logrotate_crond_image }}
    name: logrotatecrond
    securityContext:
      privileged: true
      procMount: Unmasked
    volumeMounts:
    {% set vols = edpm_container_standalone_common_volumes | default([]) + edpm_logrotate_crond_volumes %}
    {%- for vol in vols -%}
    - mountPath: {{ vol.mountPath }}
      name: {{ vol.name }}
      readOnly: {{ vol.readOnly }}
    {% endfor +%}
