command: "neutron-ovn-metadata-agent"
config_files:
  - source: /etc/neutron.conf.d/01-rootwrap.conf
    dest: /etc/neutron/rootwrap.conf
    owner: root:root
    perm: '0600'
permissions:
  - owner: neutron:neutron
    path: /var/lib/neutron
    recurse: true
  - optional: true
    owner: neutron:neutron
    path: /etc/pki/tls/certs/ovn_metadata.crt
    perm: 0644
  - optional: true
    owner: neutron:neutron
    path: /etc/pki/tls/private/ovn_metadata.key
    perm: 0644
