command: "neutron-ovn-metadata-agent --log-file={{ edpm_neutron_metadata_agent_log_dir }}/ovn-metadata-agent.log"
permissions:
  - owner: neutron:neutron
    path: /var/log/neutron
    recurse: true
  - owner: neutron:neutron
    path: /var/lib/neutron
    recurse: true
  - optional: true
    owner: neutron:neutron
    path: /etc/pki/tls/certs/ovn_metadata.crt
    perm: 0644
  - optional: true
    owner: neutron:neutron
    path: /etc/pki/tls/private/ovn_metadata.key
    perm: 0644
