---
apiVersion: v1
kind: Pod
metadata:
  annotations:
    bind-mount-options: /var/lib/openstack/certs/neutron-metadata/default/tls.crt:z
  labels:
    app: ovnmetadataagent
  name: ovnmetadataagent
spec:
  hostNetwork: true
  volumes:
  {% set vols = edpm_container_standalone_common_volumes | default([]) + edpm_neutron_metadata_common_volumes + edpm_neutron_metadata_tls_cacert_volumes %}
  {%- for vol in vols -%}
  - hostPath: 
      path: {{ vol.path }}
    name: {{ vol.name }}
  {% endfor -%}
  containers:
  - args:
    - kolla_start
    env:
    - name: KOLLA_CONFIG_STRATEGY
      value: COPY_ALWAYS
    image: {{ edpm_neutron_metadata_agent_image }}
    name: ovnmetadataagent
    securityContext:
      privileged: true
      procMount: Unmasked
      runAsGroup: 0
      runAsUser: 0
    volumeMounts:
    {% set vols = edpm_container_standalone_common_volumes | default([]) + edpm_neutron_metadata_common_volumes + edpm_neutron_metadata_tls_cacert_volumes %}
    {%- for vol in vols -%}
    - mountPath: {{ vol.mountPath }}
      name: {{ vol.name }}
      readOnly: {{ vol.readOnly }}
    {% endfor -%}

