start_order: 2
image: "{{ edpm_neutron_ovn_agent_image }}"
net: host
privileged: true
user: root
restart: always
depends_on:
  - openvswitch.service
volumes:
  {% set edpm_neutron_ovn_volumes = [] %}
  {%- set edpm_neutron_ovn_volumes =
          edpm_neutron_ovn_volumes +
          edpm_neutron_ovn_common_volumes %}
  {{ edpm_neutron_ovn_volumes }}
environment:
  KOLLA_CONFIG_STRATEGY: COPY_ALWAYS
