# {{ ansible_managed }}
[Unit]
Description=InstanceHA heartbeat sender
After=network-online.target

[Service]
Type=oneshot
DynamicUser=yes
LoadCredential=hmac-key:{{ edpm_instanceha_monitoring_heartbeat_hmac_key_file }}
ExecStart=/usr/local/bin/instanceha-heartbeat.py
StandardOutput=null
StandardError=journal
