image: "{{ edpm_frr_image }}"
net: host
privileged: false
user: frr
restart: always
cap_add:
  - NET_BIND_SERVICE
  - NET_RAW
  - NET_ADMIN
  - SYS_ADMIN
volumes: {{ edpm_frr_volumes }}
environment:
  KOLLA_CONFIG_STRATEGY: COPY_ALWAYS
