---
- name: Verify
  hosts: all
  gather_facts: false
  tasks:
    - name: Include default tasks
      ansible.builtin.include_tasks:
        file: ../default/verify-tasks.yml

    - name: Verify availability-zones
      ansible.builtin.shell: >
        /usr/bin/ovs-vsctl get open_vswitch . external_ids:ovn-cms-options
      register: output
      failed_when: output.stdout != "\"availability-zones=az0:az2\""
