---

- name: Fail when using image mode
  ansible.builtin.debug:
    msg: edpm_accel_drivers role not supported with bootc/image mode
  when: ansible_local.bootc is defined and ansible_local.bootc
  failed_when: true

- name: Detect GPU hardware
  when: edpm_accel_drivers_auto_detect | bool
  ansible.builtin.import_tasks: detect_gpu.yml

- name: Blacklist nouveau driver
  when: edpm_accel_drivers_blacklist_nouveau | bool
  ansible.builtin.import_tasks: blacklist_nouveau.yml

- name: NVIDIA Driver installation
  when: edpm_accel_drivers_install_nvidia | bool
  ansible.builtin.import_tasks: nvidia_drivers.yml

- name: AMD Driver installation
  when: edpm_accel_drivers_install_amd | bool
  ansible.builtin.import_tasks: amd_drivers.yml

- name: Run boot configuration tasks
  when: >
    (_edpm_accel_drivers_detected_gpu | default('none')) != 'none' or
    not edpm_accel_drivers_auto_detect | bool
  ansible.builtin.import_tasks: boot_config.yml
