image: {{ edpm_iscsid_image }}
net: host
privileged: true
restart: always
{% if edpm_iscsid_healthcheck %}
healthcheck:
  test: /openstack/healthcheck
  mount: /var/lib/openstack/healthchecks/iscsid
{% endif %}
volumes:
  {{ edpm_container_standalone_common_volumes | default([]) + edpm_iscsid_volumes }}
environment:
  KOLLA_CONFIG_STRATEGY: COPY_ALWAYS
