image: "{{ edpm_nova_compute_image }}"
privileged: true
user: nova
restart: always
command: kolla_start
net: host
pid: host
environment:
  KOLLA_CONFIG_STRATEGY: COPY_ALWAYS
volumes:
  - /var/lib/kolla/config_files/nova_compute.json:/var/lib/kolla/config_files/config.json:ro
  - "{{ edpm_nova_config_dest }}:/var/lib/kolla/config_files/src:ro"
{% if ca_bundle_exists|bool %}
  - "{{ edpm_nova_tls_ca_src_dir }}/tls-ca-bundle.pem:/etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem:ro,z"
{% endif %}
  - /etc/localtime:/etc/localtime:ro
  - /lib/modules:/lib/modules:ro
  - /dev:/dev
  - /var/lib/libvirt:/var/lib/libvirt
  - /run/libvirt:/run/libvirt:shared
  - /var/lib/nova:/var/lib/nova:shared
  - /var/lib/iscsi:/var/lib/iscsi
  - /etc/multipath:/etc/multipath:z
  - /etc/multipath.conf:/etc/multipath.conf:ro
  - /etc/iscsi:/etc/iscsi:ro
  - /etc/nvme:/etc/nvme
  - /var/lib/openstack/config/ceph:/var/lib/kolla/config_files/src/ceph:ro
  - /etc/ssh/ssh_known_hosts:/etc/ssh/ssh_known_hosts:ro
{% for bind_mount in edpm_nova_extra_bind_mounts %}
  - "{{ bind_mount.src }}:{{ bind_mount.dest }}:{{ bind_mount.options | default('ro') }}"
{% endfor %}
