---
dependency:
  name: galaxy
driver:
  name: podman
platforms:
- name: edpm-0
  command: /sbin/init
  dockerfile: ../../../../molecule/common/Containerfile.j2
  image: ${EDPM_ANSIBLE_MOLECULE_IMAGE:-"ubi9/ubi-init"}
  registry:
    url: ${EDPM_ANSIBLE_MOLECULE_REGISTRY:-"registry.access.redhat.com"}
  ulimits:
  - host
provisioner:
  name: ansible
  inventory:
    hosts:
      all:
        vars:
          edpm_pre_adoption_validation_hostname_enabled: false
          edpm_pre_adoption_validation_kernel_args_enabled: false
          edpm_pre_adoption_validation_tuned_enabled: false
          edpm_pre_adoption_validation_machined_enabled: true

verifier:
  name: ansible
scenario:
  test_sequence:
     - destroy
     - create
     - prepare
     - converge
