image: "{{ edpm_neutron_dhcp_image }}"
net: host
pid: host
cgroupns: host
privileged: true
user: root
restart: always
volumes:
  {% set edpm_neutron_dhcp_volumes = [] %}
  {%- set edpm_neutron_dhcp_volumes =
          edpm_neutron_dhcp_volumes +
          edpm_neutron_dhcp_common_volumes %}
{%- if edpm_neutron_dhcp_tls_enabled | bool %}
  {%- set edpm_neutron_dhcp_volumes =
          edpm_neutron_dhcp_volumes +
          edpm_neutron_dhcp_tls_volumes %}
{%- endif -%}
  {{ edpm_neutron_dhcp_volumes }}
environment:
  KOLLA_CONFIG_STRATEGY: COPY_ALWAYS
