[DEFAULT]
log_file = /var/log/neutron/neutron-sriov-nic-agent.log
debug = {{ edpm_neutron_sriov_DEFAULT_debug }}
rpc_response_timeout = {{ edpm_neutron_sriov_DEFAULT_rpc_response_timeout }}
transport_url = {{ edpm_neutron_sriov_DEFAULT_transport_url }}

[oslo_concurrency]
lock_path = {{ edpm_neutron_sriov_oslo_concurrency_lock_patch }}

[oslo_messaging_rabbit]
heartbeat_timeout_threshold = {{ edpm_neutron_sriov_oslo_messaging_rabbit_heartbeat_timeout_threshold }}

[oslo_middleware]
enable_proxy_headers_parsing = {{ edpm_neutron_sriov_oslo_middleware_enable_proxy_headers_parsing }}
