---
argument_specs:
  # ./roles/{{ role_name }}/tasks/main.yml entry point
  main:
    short_description: The main entry point for the {{ role_name }} role.
    description: Multiple lines description
    options: {}
