dependency:
  name: galaxy
  options:
    role-file: collections.yml
driver:
  name: podman
platforms:
  - name: instance
    image: ${EDPM_ANSIBLE_MOLECULE_IMAGE:-"ubi9/ubi-init"}
    registry:
      url: ${EDPM_ANSIBLE_MOLECULE_REGISTRY:-"registry.access.redhat.com"}
    command: /sbin/init
    dockerfile: ../../../../molecule/common/Containerfile.j2
    privileged: true
    volume_mounts:
      - "/sys/fs/cgroup:/sys/fs/cgroup:rw"
    capabilities:
      - SYS_ADMIN
      - ALL
provisioner:
  name: ansible
  log: true

verifier:
  name: ansible
scenario:
  test_sequence:
    - dependency
    - create
    - prepare
    - converge
    - destroy
