---
- name: Install ovs packages
  tags:
    - install
    - ovs
  become: true
  ansible.builtin.dnf:
    name: "{{ edpm_ovs_packages }}"
    state: present
  register: edpm_ovs_package_install
  until: edpm_ovs_package_install is succeeded
  retries: "{{ edpm_ovs_download_retries }}"
  delay: "{{ edpm_ovs_download_delay }}"
  when: not bootc

- name: Ensure ovs services are enabled and running
  tags:
    - install
    - ovs
  become: true
  ansible.builtin.systemd:
    name: "{{ item }}.service"
    enabled: true
    state: started
    masked: false
  loop: "{{ edpm_ovs_services }}"
