---
argument_specs:
  main:
    short_description: The main entry point for the edpm_accel_drivers role.
    description: |
      Installs and configures accelerator drivers on RHEL systems.
      Supports installation of NVIDIA drivers from an RPM repo or custom URL.
    options:
      edpm_accel_drivers_download_delay:
        type: int
        default: 5
        description: The seconds between retries for failed download tasks
      edpm_accel_drivers_download_retries:
        type: int
        default: 5
      edpm_accel_drivers_install_nvidia:
        type: bool
        default: false
        description: Whether to install nvidia drivers.
      edpm_accel_drivers_nvidia_custom_url:
        type: str
        default: ""
        description: |
          Custom NVIDIA driver URL (if set, driver will be installed from this URL instead of from a repository).
          Must end with .rpm (SUPPORTED) or .run extension (UNSUPPORTED).
          NOTE: file:/// URLs are supported, for example a local NFS mount.
      edpm_accel_drivers_nvidia_custom_url_ssl_no_verify:
        type: bool
        default: false
        description: |
          Whether to disable SSL certificate verification when downloading NVIDIA driver from custom URL.
          Set to true to disable SSL certificate verification (not recommended for production).
      edpm_accel_drivers_nvidia_cache_dir:
        type: str
        default: "/var/cache/nvidia-drivers"
        description: The directory to cache the NVIDIA driver package when downloading from a custom URL.
      edpm_accel_drivers_nvidia_repo_url:
        type: str
        default: ""
        description: |
          NVIDIA repository URL for driver installation.
      edpm_accel_drivers_nvidia_repo_gpgkey:
        type: str
        default: ""
        description: |
          GPG key URL for NVIDIA repository verification.
      edpm_accel_drivers_nvidia_rpm_disable_gpg_check:
        type: bool
        default: false
        description: |
          Whether to disable GPG check when installing NVIDIA driver from RPM.
          Set to true to disable GPG check (not recommended for production).
      edpm_accel_drivers_nvidia_dnf_module_stream:
        type: str
        default: "latest"
        description: |
          NVIDIA Driver dnf module stream to install from NVIDIA repo. If set to "", no DNF module will be selected.
      edpm_accel_drivers_nvidia_package_name:
        type: str
        default: "nvidia-driver"
        description: |
          NVIDIA Driver package name to install from NVIDIA repo.
      edpm_accel_drivers_nvidia_cleanup_temp_files:
        type: bool
        default: true
        description: Whether to cleanup temporary files after installation
      edpm_accel_drivers_blacklist_nouveau:
        type: bool
        default: true
        description: Whether to blacklist nouveau driver
