{
    "image": "{{ edpm_libvirt_image }}",
    "restart": "always",
    "command": "kolla_start",
    "pid": "host",
    "net": "host",
    "cgroupns": "host",
    "privileged": "true",
    "environment": {
        "KOLLA_CONFIG_STRATEGY":"COPY_ALWAYS"
    },
    "volumes": [
        "/var/lib/openstack/config/libvirt/libvirt_virtqemud:/var/lib/kolla/config_files:ro",
        "/etc/localtime:/etc/localtime:ro",
        "/var/log/containers/libvirt:/var/log/containers/libvirt",
        "/var/lib/libvirt:/var/lib/libvirt",
        "/var/lib/nova:/var/lib/nova",
        "/run/libvirt:/run/libvirt",
        "/dev:/dev",
        "/etc/ceph:/var/lib/kolla/config_files/ceph:ro"
    ]
  }
