---
# Copyright 2019 Red Hat, Inc.
# All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.

- name: Get the command line args of the node
  ansible.builtin.slurp:
    src: "/proc/cmdline"
  register: cmdline_encoded

- name: Save the decoded cmdline
  ansible.builtin.set_fact:
    cmdline: "{{ cmdline_encoded['content'] | b64decode }}"

- name: TSX KernelArgs compute node reboot prevention
  when:
    - '"nova_libvirt" in groups'
  block:
    - name: Check if node has a nova.conf
      ansible.builtin.stat:
        path: "{{ edpm_nova_compute_config_dir }}/etc/nova/nova.conf"
      register: nova_conf_check

    - name: Enabling defer_reboot when TSX was added or appended
      when:
        - nova_conf_check.stat.exists
        - edpm_kernel_args is regex("^[\s]*tsx=[\S]+[\s]*$")
      block:
        - name: Warn operator about workload protection
          ansible.builtin.debug:
            msg: |
              Automated reboot for this node has been defered because it is already provisionned.
              Please schedule a manual reboot after this deployment is completed.

        - name: Setting workload protection fact
          ansible.builtin.set_fact:
            _workload_protection: true

- name: Handle hugepages
  ansible.builtin.include_tasks: hugepages.yml

- name: Set set_kernel_args fact if args need to be set
  ansible.builtin.set_fact:
    set_kernel_args: true
  when:
    - cmdline is defined
    - edpm_kernel_args is defined
    - edpm_kernel_args | type_debug in ["AnsibleUnicode", "str"]
    - cmdline is not regex( '^.*' ~ edpm_kernel_args ~ '\\s.*$' )

# Kernel Args Configuration
- name: Kernel args configuration (package mode)
  become: true
  when:
    - set_kernel_args is defined
    - set_kernel_args is true
    - not ansible_local.bootc
  block:

    - name: Check if the kernelargs entry is already present in the file
      become: true
      ansible.builtin.replace:
        regexp: EDPM_KERNEL_ARGS
        dest: /etc/default/grub
        replace: ''
      check_mode: true
      register: grub_file_entry_check

    - name: Set boot_file_entry_check fact
      ansible.builtin.set_fact:
        boot_file_entry_present: grub_file_entry_check is changed

    # Leapp does not recognise grub entries starting other than GRUB
    # It results wrong formatting of entries in file /etc/default/grub
    # In order to fix it for FFU (queens to train), EDPM_KERNEL_ARGS has been renamed
    # Ensure the fresh deployment is also alinged with the same name
    - name: Delete older name EDPM_KERNEL_ARGS entries if present
      ansible.builtin.lineinfile:
        dest: /etc/default/grub
        regexp: 'EDPM_KERNEL_ARGS'
        state: absent

    - name: "Ensure the kernel args are present as GRUB_EDPM_KERNEL_ARGS: {{ edpm_kernel_args }}"
      ansible.builtin.lineinfile:
        dest: /etc/default/grub
        regexp: '^GRUB_EDPM_KERNEL_ARGS.*'
        insertafter: '^GRUB_CMDLINE_LINUX.*'
        line: 'GRUB_EDPM_KERNEL_ARGS=" {{ edpm_kernel_args }} "'

    - name: Add GRUB_EDPM_KERNEL_ARGS to the GRUB_CMDLINE_LINUX parameter
      ansible.builtin.lineinfile:
        dest: /etc/default/grub
        line: 'GRUB_CMDLINE_LINUX="${GRUB_CMDLINE_LINUX:+$GRUB_CMDLINE_LINUX }${GRUB_EDPM_KERNEL_ARGS}"'
        insertafter: '^GRUB_EDPM_KERNEL_ARGS.*'

    - name: Check if grub2-mkconfig has --update-bls-cmdline option
      ansible.builtin.shell:
        cmd: grub2-mkconfig --help | grep '\-\-update-bls-cmdline'
      ignore_errors: true
      register: check_update_bls_cmdline
      changed_when: false

    - name: Generate grub config
      ansible.builtin.command: >-
        grub2-mkconfig -o /boot/grub2/grub.cfg
        {{ '--update-bls-cmdline'
        if check_update_bls_cmdline.rc == 0
        else '' }}
      register: _grub2_mkconfig
      changed_when: _grub2_mkconfig.rc == 0
      failed_when: _grub2_mkconfig.rc != 0


- name: Kernel args configuration (image mode)
  become: true
  when:
    - set_kernel_args is defined
    - set_kernel_args is true
    - ansible_local.bootc
  block:

    - name: Check if the kernelargs entry is already present in the file
      become: true
      ansible.builtin.shell: |
        grep EDPM_KERNEL_ARGS /boot/loader/entries/*.conf
      failed_when: false
      register: grep_edpm_kernel_args
      changed_when: grep_edpm_kernel_args.rc != 0

    - name: Set boot_file_entry_check fact
      ansible.builtin.set_fact:
        boot_file_entry_present: grep_edpm_kernel_args.rc == 0

    - name: Add kernel args to boot entries  # noqa: risky-shell-pipe
      ansible.builtin.shell: |
        set -eux
        for f in /boot/loader/entries/*.conf; do
          # Get the previously set kernel args from the commented line
          old_edpm_kernel_args=$(grep EDPM_KERNEL_ARGS ${f} | cut -d= -f2-)
          # Delete the commented line
          unshare -m /bin/bash -c "mount -o remount,rw /boot; sed -i \"/EDPM_KERNEL_ARGS/d\" ${f}"
          # Delete the previously set kernel args from the options line
          unshare -m /bin/bash -c "mount -o remount,rw /boot; sed -i \"s/ ${old_edpm_kernel_args}$//\" ${f}"
          # Set the new kernel args to the options line
          unshare -m /bin/bash -c "mount -o remount,rw /boot; sed -i \"s/\(^options.*\)/\1 {{ edpm_kernel_args }}/\" ${f}"
          # Add the commented line
          unshare -m /bin/bash -c "mount -o remount,rw /boot; echo \"# EDPM_KERNEL_ARGS={{ edpm_kernel_args }}\" >> ${f}"
        done
      changed_when: not boot_file_entry_present

- name: Kernel args post configuration
  become: true
  when:
    - set_kernel_args is defined
    - set_kernel_args is true
  block:
    - name: Check for active tuned profile
      ansible.builtin.stat:
        path: "/etc/tuned/active_profile"
      register: tuned_active_profile

    - name: Ensure $tuned_params is restored to /boot/loader/entries files
      ansible.builtin.shell: >-
        tuned-adm profile $(cat /etc/tuned/active_profile)
      environment:
        PATH: "/bin:/usr/bin:/sbin:/usr/sbin"
      when:
        - tuned_active_profile.stat.exists
        - tuned_active_profile.stat.size | int > 0
      register: _tuned_adm
      changed_when: _tuned_adm.rc == 0
      failed_when: _tuned_adm.rc != 0

    - name: Set reboot required fact
      ansible.builtin.set_fact:
        reboot_required: true

# Kernel modules loading
- name: Load type1 IOMMU driver for VFIO on boot
  ansible.builtin.import_role:
    name: osp.edpm.edpm_module_load
  vars:
    modules:
      - name: vfio_iommu_type1
  when: edpm_kernel_args is search("iommu")

- name: Reboot block
  when:
    - reboot_required is defined and reboot_required
    - not edpm_kernel_defer_reboot|bool
    - not _workload_protection|default(false)|bool
  block:
    - name: Reboot tasks
      ansible.builtin.include_tasks: reboot.yaml
      when:
        - not boot_file_entry_present

    - name: Skipping reboot for deployed node
      ansible.builtin.debug:  # noqa: no-handler
        msg: "Reboot is skipped for kernel arg change, user has to plan the reboot with migration and downtime"
      when:
        - boot_file_entry_present
