---
argument_specs:
  # ./roles/edpm_kernel/tasks/main.yml entry point
  main:
    short_description: The main entry point for the edpm_kernel role.
    options:
      edpm_kernel_download_delay:
        type: int
        default: 5
        description: The seconds between retries for failed download tasks
      edpm_kernel_download_retries:
        type: int
        default: 5
        description: The number of retries for failed download tasks
      edpm_kernel_extra_modules:
        type: dict
        default: {}
        description: Additional kernel modules to load
      edpm_kernel_extra_packages:
        type: list
        default: []
        description: Additional packages to install before handling kernel modules.
      edpm_kernel_sysctl_extra_settings:
        type: dict
        default: {}
        description: Additional sysctl settings.
      edpm_nova_compute_config_dir:
        type: path
        default: /var/lib/openstack/nova_libvirt
        description: This should be synced with edpm_nova_compute role
      edpm_kernel_args:
        type: str
        default: ""
        description: Grub kernel args.
      edpm_kernel_defer_reboot:
        type: bool
        default: false
        description: Do not reboot, even if it is required for changes to take effect.
      edpm_kernel_hugepages_remove:
        type: bool
        default: false
        description: Remove hugepages setting from kernel args.
      edpm_kernel_hugepages:
        type: dict
        default: {}
        description: Hugepages configuration dictionary.
      edpm_kernel_enable_ksm:
        default: false
        description: Enable/Disable KSM (disabling it unloads all shared PageKSM!)
        type: bool
