start_order: 1
image: "{{ edpm_ovn_controller_agent_image }}"
net: host
privileged: true
user: root
restart: always
depends_on:
  - openvswitch.service
{% if edpm_ovn_cpu_set|default(false) %}
cpuset_cpus: "{{ edpm_ovn_cpu_set }}"
{% endif -%}
healthcheck:
  test: '/openstack/healthcheck {{ edpm_ovn_sb_server_port }}'
volumes:
  {% set edpm_ovn_controller_volumes = [] %}
  {%- set edpm_ovn_controller_volumes =
          edpm_ovn_controller_volumes +
          edpm_ovn_controller_common_volumes %}
  {%- if edpm_enable_internal_tls|bool -%}
  {%- set edpm_ovn_controller_volumes =
         edpm_ovn_controller_volumes +
         edpm_ovn_controller_common_volumes +
         edpm_ovn_controller_tls_volumes -%}
  {% endif %}
  {{ edpm_ovn_controller_volumes }}
environment:
  KOLLA_CONFIG_STRATEGY: COPY_ALWAYS
