{%- set ns = namespace(dport='') %}
{%- if 'dport' in rule %}
{%    if rule['dport'] is iterable and (rule['dport'] is not string and rule['dport'] is not mapping) -%}
{%      set ns.dport = rule['dport'] |join(', ') -%}
{%    else -%}
{%      set ns.dport = rule['dport'] -%}
{%    endif -%}
{%- endif %}
{#- This is for legacy things - Really, use dport... #}
{%- if 'port' in rule %}
{%    if rule['port'] is iterable and (rule['port'] is not string and rule['port'] is not mapping) -%}
{%      set ns.dport = rule['port'] |join(', ') -%}
{%    else -%}
{%      set ns.dport = rule['port'] -%}
{%    endif -%}
{%- endif %}
{%- if ns.dport != '' %}
 {{ rule.get('proto', false)|ternary('', 'tcp ') }}dport { {{ ns.dport |replace(':', '-') }} }
{%- endif %}
