---
- name: Verify ceilometer
  hosts: all
  gather_facts: false
  vars:
    test_helper_dir: "../../../../molecule/test-helpers"
  vars_files:
    - ../../defaults/main.yml
  tasks:
    - name: ensure expected config files exist
      ansible.builtin.include_tasks: "{{test_helper_dir}}/verify_dir.yaml"
      loop:
        - "{{ edpm_telemetry_config_dest }}/ceilometer.conf"
        - "{{ edpm_telemetry_config_dest }}/polling.yaml"
        - "{{ edpm_telemetry_config_dest }}/ceilometer-host-specific.conf"
        - "{{ edpm_telemetry_config_dest }}/firewall.yaml"

    - name: ensure podman container exists and are running
      ansible.builtin.include_tasks: "{{test_helper_dir}}/verify_podman.yaml"
      loop:
        - "ceilometer_agent_compute"
        - "node_exporter"

    - name: ensure systemd services are defined and functional
      ansible.builtin.include_tasks: "{{test_helper_dir}}/verify_systemd_unit.yaml"
      loop:
        - {"name": "edpm_ceilometer_agent_compute.service"}
        - {"name": "edpm_node_exporter.service"}

    - name: ensure kolla_set_configs copied the expected files and started the correct binary
      become: true
      ansible.builtin.shell: |
        podman logs ceilometer_agent_compute 2>&1 | grep "{{item}}" > /dev/null
      loop:
        - "Copying /var/lib/kolla/config_files/src/ceilometer.conf to /etc/ceilometer/ceilometer.conf"
        - "Copying /var/lib/kolla/config_files/src/polling.yaml to /etc/ceilometer/polling.yaml"
        - "/usr/bin/ceilometer-polling --polling-namespaces compute --logfile /dev/stdout"
        - "Copying /var/lib/kolla/config_files/src/ceilometer-host-specific.conf to /etc/ceilometer/ceilometer.conf.d/02-ceilometer-host-specific.conf"

    - name: ensure that the correcty binary started with TLS
      become: true
      ansible.builtin.shell: |
        podman logs node_exporter 2>&1 | grep "{{item}}" > /dev/null
      loop:
        - "Starting node_exporter"
        - "TLS is enabled"

    - name: Slurp host specific config
      ansible.builtin.slurp:
        src: "{{ edpm_telemetry_config_dest }}/ceilometer-host-specific.conf"
      register: host_specific_config

    - name: Assert that host is rendered into the host specific config
      ansible.builtin.assert:
        that:
          - "'edpm-0.localdomain' in host_specific_config.content | b64decode"
