[Unit]
Description=OVN BGP Agent cleanup on startup
After=openvswitch.service network.target
Before=edpm_ovn_bgp_agent.service
RefuseManualStop=yes

[Service]
Type=oneshot
ExecStart=/usr/libexec/ovn-bgp-agent-cleanup

[Install]
WantedBy=multi-user.target
