{
    "command": "/usr/bin/ceilometer-polling --polling-namespaces compute --logfile /dev/stdout",
    "config_files": [
      {
        "source": "/var/lib/openstack/config/ceilometer.conf",
        "dest": "/etc/ceilometer/ceilometer.conf",
        "owner": "ceilometer",
        "perm": "0600"
      },
      {
        "source": "/var/lib/openstack/config/polling.yaml",
        "dest": "/etc/ceilometer/polling.yaml",
        "owner": "ceilometer",
        "perm": "0600"
      },
      {
        "source": "/var/lib/openstack/config/custom.conf",
        "dest": "/etc/ceilometer/ceilometer.conf.d/01-ceilometer-custom.conf",
        "owner": "ceilometer",
        "perm": "0600",
        "optional": true
      },
      {
        "source": "/var/lib/openstack/config/ceilometer-host-specific.conf",
        "dest": "/etc/ceilometer/ceilometer.conf.d/02-ceilometer-host-specific.conf",
        "owner": "ceilometer",
        "perm": "0600",
        "optional": true
      }
    ]
  }
