---
 apiVersion: v1
 kind: Pod
 metadata:
   annotations:
     bind-mount-options: /var/lib/openstack/cacerts/telemetry/tls-ca-bundle.pem:z
   labels:
     app: ceilometeragentcompute
   name: ceilometeragentcompute
 spec:
   containers:
   - args:
     - kolla_start
     env:
     - name: KOLLA_CONFIG_STRATEGY
       value: COPY_ALWAYS
     - name: OS_ENDPOINT_TYPE
       value: internal
     image: {{ edpm_telemetry_ceilometer_compute_image }}
     name: ceilometeragentcompute
     securityContext:
       runAsGroup: 42405
       runAsUser: 42405
       seLinuxOptions:
         type: ceilometer_polling_t
     volumeMounts:
     {% set volumes = edpm_container_standalone_common_volumes | default([]) + edpm_telemetry_volumes %}
     {%- for vol in volumes -%}
     - mountPath: {{ vol.mountPath }}
       name: {{ vol.name }}
       readOnly: {{ vol.readOnly }}
     {% endfor -%}
   hostNetwork: true
   volumes:
   {% set volumes = edpm_container_standalone_common_volumes | default([]) + edpm_telemetry_volumes %}
   {%- for vol in volumes -%}
   - hostPath: 
       path: {{ vol.path }}
     name: {{ vol.name }}
   {% endfor -%}
