---
# Generated via edpm_telemetry
- rule_name: 000 Allow node_exporter traffic
  rule:
    proto: tcp
    dport:
     - "9100"
- rule_name: 000 Allow ceilometer_compute_prom_exporter traffic
  rule:
    proto: tcp
    dport:
     - "9101"
- rule_name: 000 Allow ceilometer_ipmi_prom_exporter traffic
  rule:
    proto: tcp
    dport:
     - "9102"
- rule_name: 000 Allow podman_exporter traffic
  rule:
    proto: tcp
    dport:
     - "9882"
- rule_name: 001 Allow openstack_network_exporter traffic
  rule:
    proto: tcp
    dport:
     - "9105"
