{
    "image": "{{ edpm_telemetry_node_exporter_image }}",
    "restart": "always",
    "privileged": "true",
    "net": "host",
    "command": "{{ edpm_telemetry_node_exporter_command }}",
    "volumes": [
        "/var/run/dbus/system_bus_socket:/var/run/dbus/system_bus_socket:rw",
        "{{ edpm_telemetry_config_dest }}/node_exporter.yaml:/etc/node_exporter/node_exporter.yaml:z",
{% if ca_bundle_exists|bool %}
	    "{{ edpm_telemetry_certs }}:/etc/node_exporter/tls:z",
{% endif %}
    ]
}
