{
    "image": "{{ edpm_telemetry_node_exporter_image }}",
    "restart": "always",
    "recreate": true,
    "user": "root",
    "privileged": true,
    "ports": ["9100:9100"],
    "command": [
{% if tls_cert_exists|bool %}
    "--web.config.file=/etc/node_exporter/node_exporter.yaml",
{% endif %}
{% for arg in edpm_telemetry_node_exporter_cmd %}
    {{ arg | to_json }}{% if not loop.last %},{% endif %}
{% endfor %}
    ],
    "net": "host",
    "environment": {
        "OS_ENDPOINT_TYPE":"internal"
    },
{% if edpm_telemetry_healthcheck %}
    "healthcheck": {
        "test": "/openstack/healthcheck node_exporter",
        "mount": "/var/lib/openstack/healthchecks/node_exporter"
    },
{% endif %}
    "volumes": [
{% if tls_cert_exists|bool %}
        "{{ edpm_telemetry_config_dest }}/node_exporter.yaml:/etc/node_exporter/node_exporter.yaml:z",
        "{{ edpm_telemetry_certs }}:/etc/node_exporter/tls:z",
{% endif %}
        "/var/run/dbus/system_bus_socket:/var/run/dbus/system_bus_socket:rw"
    ]
}
