[DEFAULT]
filters_path = {{ edpm_neutron_metadata_agent_rootwrap_DEFAULT_filters_path }}
exec_dirs = {{ edpm_neutron_metadata_agent_rootwrap_DEFAULT_exec_dirs }}
use_syslog = {{ edpm_neutron_metadata_agent_rootwrap_DEFAULT_use_syslog }}
syslog_log_facility = {{ edpm_neutron_metadata_agent_rootwrap_DEFAULT_syslog_log_facility }}
syslog_log_level = {{ edpm_neutron_metadata_agent_rootwrap_DEFAULT_syslog_log_level }}
daemon_timeout = {{ edpm_neutron_metadata_agent_rootwrap_DEFAULT_daemon_timeout }}
rlimit_nofile = {{ edpm_neutron_metadata_agent_rootwrap_DEFAULT_rlimit_nofile }}
