[Unit]
After = nvidia-vgpu-mgr.service
After = nvidia-vgpud.service
After = systemd-udevd.service
Before = edpm_nvidia_sriov_manage.target
Description = Wait for sriov_numvfs to exist before running sriov-manage

[Path]
PathExists=/sys/bus/pci/devices/{{ bdf }}/sriov_numvfs

[Install]
WantedBy = edpm_nvidia_sriov_manage.target
