[Unit]
Description=Neutron cleanup on startup
After=openvswitch.service network.target
Before=edpm_neutron_ovs_agent.service edpm_neutron_dhcp.service edpm_neutron_l3_agent.service edpm_nova_compute.service
RefuseManualStop=yes

[Service]
Type=oneshot
ExecStart=/usr/libexec/neutron-cleanup

[Install]
WantedBy=multi-user.target
