---
# Copyright 2025 Red Hat, Inc.
# All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.

# This task file handles both adding/updating and removing containers from the state file.
#
# For adding/updating services (default behavior):
#   - name: Update service state file
#     ansible.builtin.include_tasks: state_file_update.yml
#
# For removing a container from a service:
#   - name: Remove container from service
#     ansible.builtin.include_tasks: state_file_update.yml
#     vars:
#       edpm_container_state_remove: true
#       edpm_service_name: nova  # service name (e.g., nova, telemetry, neutron-metadata)
#       edpm_container_standalone_service: multipathd  # container to remove
#
# Note: When the last container is removed from a service, the service is
#       automatically removed from the state file.
# Note: If service or container doesn't exist, removal is silently ignored.

- name: Read current state file
  ansible.builtin.slurp:
    src: "{{ edpm_container_state_file }}"
  register: _edpm_state_file_content
  failed_when: false
  changed_when: false

- name: Parse state file data
  ansible.builtin.set_fact:
    _edpm_state_data: >-
      {{
        (_edpm_state_file_content.content | default('') | b64decode | from_yaml) |
        default({'services': {}}, true)
      }}

- name: Determine service name for state file
  ansible.builtin.set_fact:
    _edpm_state_service_name: "{{ edpm_service_name | default(edpm_container_standalone_service) }}"

# Remove container from service
- name: Remove container from service
  when:
    - edpm_container_state_remove | bool
    - _edpm_state_service_name in _edpm_state_data.services
  block:
    - name: Remove container from service containers list
      ansible.builtin.set_fact:
        _edpm_updated_containers: >-
          {{
            _edpm_state_data.services[_edpm_state_service_name].containers |
            default([]) |
            difference([edpm_container_standalone_service])
          }}

    - name: Update service with remaining containers
      when: _edpm_updated_containers | length > 0
      ansible.builtin.set_fact:
        _edpm_state_data: >-
          {{
            _edpm_state_data | combine({
              'services': _edpm_state_data.services | combine({
                _edpm_state_service_name: {
                  'containers': _edpm_updated_containers,
                  'updated_at': lookup('pipe', 'date -Iseconds')
                }
              }, recursive=True)
            }, recursive=True)
          }}

    - name: Remove service if no containers remain
      when: _edpm_updated_containers | length == 0
      block:
        - name: Build filtered services dict (exclude empty service)
          ansible.builtin.set_fact:
            _edpm_filtered_services: >-
              {{
                _edpm_filtered_services | default({}) | combine({
                  item.key: item.value
                })
              }}
          loop: "{{ _edpm_state_data.services | dict2items }}"
          when: item.key != _edpm_state_service_name

        - name: Update state data without empty service
          ansible.builtin.set_fact:
            _edpm_state_data:
              services: "{{ _edpm_filtered_services | default({}) }}"

# Add/update service in state file
- name: Update service in state data
  ansible.builtin.set_fact:
    _edpm_state_data: >-
      {{
        _edpm_state_data | combine({
          'services': _edpm_state_data.services | combine({
            _edpm_state_service_name: {
              'containers': (
                _edpm_state_data.services.get(_edpm_state_service_name, {}).get('containers', []) +
                edpm_container_standalone_container_defs.keys() | list
              ) if edpm_container_state_append else (edpm_container_standalone_container_defs.keys() | list),
              'updated_at': lookup('pipe', 'date -Iseconds')
            }
          }, recursive=True)
        }, recursive=True)
      }}
  when: not (edpm_container_state_remove | bool)

- name: Write updated state file
  become: true
  ansible.builtin.copy:
    content: "{{ _edpm_state_data | to_nice_yaml }}"
    dest: "{{ edpm_container_state_file }}"
    mode: '0644'
