---
# Copyright 2025 Red Hat, Inc.
# All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.

- name: Read current state file
  ansible.builtin.slurp:
    src: "{{ edpm_container_state_file }}"
  register: _edpm_state_file_content
  failed_when: false
  changed_when: false

- name: Parse state file data
  ansible.builtin.set_fact:
    _edpm_state_data: >-
      {{
        (_edpm_state_file_content.content | default('') | b64decode | from_yaml) |
        default({'services': {}})
      }}
  when: _edpm_state_file_content.content is defined

- name: Initialize empty state data if file doesn't exist
  ansible.builtin.set_fact:
    _edpm_state_data:
      services: {}
  when: _edpm_state_file_content.content is not defined

- name: Update service in state data
  ansible.builtin.set_fact:
    _edpm_state_data: >-
      {{
        _edpm_state_data | combine({
          'services': _edpm_state_data.services | combine({
            (edpm_service_name | default(edpm_container_standalone_service)): {
              'containers': (
                _edpm_state_data.services.get(edpm_service_name | default(edpm_container_standalone_service), {}).get('containers', []) +
                edpm_container_standalone_container_defs.keys() | list
              ) if edpm_container_state_append else (edpm_container_standalone_container_defs.keys() | list),
              'updated_at': lookup('pipe', 'date -Iseconds')
            }
          }, recursive=True)
        }, recursive=True)
      }}

- name: Write updated state file
  become: true
  ansible.builtin.copy:
    content: "{{ _edpm_state_data | to_nice_yaml }}"
    dest: "{{ edpm_container_state_file }}"
    mode: '0644'
