[Unit]
Description=Suspend libvirt Guests in edpm
Requires=virt-guest-shutdown.target
After=systemd-machined.service
After=network-online.target
After=edpm_libvirt.target
Before=edpm_nova_compute.service
Documentation=man:libvirtd(8)
Documentation=https://libvirt.org

[Service]
EnvironmentFile=-/etc/sysconfig/libvirt-guests
ExecStart=/bin/rm -f /var/lib/libvirt/libvirt-guests
ExecStop=/bin/sh -x /usr/libexec/libvirt-guests.sh shutdown
Type=oneshot
RemainAfterExit=yes
StandardOutput=journal+console
TimeoutStopSec=0

[Install]
WantedBy=multi-user.target
