[Unit]
Wants=virtlogd.service
Wants=virtnodedevd.service
Wants=virtproxyd.service
Wants=virtqemud.service
Wants=virtsecretd.service
After=virtlogd.service
After=virtnodedevd.service
After=virtproxyd.service
After=virtqemud.service
After=virtsecretd.service
