#!/bin/bash

{% if edpm_neutron_dhcp_sidecar_debug -%}
set -x
{%- endif %}

ARGS="$@"

IMAGE_NAME={{ edpm_neutron_dhcp_sidecar_dnsmasq_image_name }}
NEUTRON_CONFIG_DIR={{ edpm_neutron_dhcp_agent_config_dir }}
NEUTRON_LIB_DIR={{ edpm_neutron_dhcp_agent_lib_dir }}

{% raw -%}
# Extract the network namespace UUID from the process started by neutron.
NETNS=$(ip netns identify)
NAME_PREFIX=neutron-dnsmasq
NAME="${NAME_PREFIX}-${NETNS}"
CMD=(/usr/sbin/dnsmasq -k $ARGS)
{%- endraw %}

{% include 'common_part.j2' %}
