---
# Copyright 2023 Red Hat, Inc.
# All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.

argument_specs:
  # roles/edpm_telemetry/tasks/main.yml entry point
  main:
    short_description: The main entry point for the edpm_telemetry role.
    options:
      edpm_telemetry_node_exporter_image:
        type: "str"
        required: true
        description: "The name of the node_exporter podman image"
      edpm_telemetry_podman_exporter_image:
        type: "str"
        required: true
        description: "The name of the podman_exporter podman image"
      edpm_telemetry_ceilometer_compute_image:
        type: "str"
        required: true
        description: "The name of the ceilometer compute podman image"
      edpm_telemetry_config_src:
        type: "str"
        required: true
        description: "The path in the ansibleEE container where the config files are stored"
      edpm_telemetry_config_dest:
        type: "str"
        required: true
        description: "The path in the compute node where the config files are copied to"
      edpm_telemetry_certs:
        type: "str"
        required: true
        description: "The path in the compute node where the certs are stored"
      edpm_telemetry_cacerts:
        type: "str"
        required: true
        description: "The path in the compute node where the cacerts are stored"
      edpm_telemetry_old_tripleo_compute_sevices:
        type: list
        required: true
        description: List of ceilometer agents to be stopped during EDPM adoption
      edpm_telemetry_healthcheck_sources:
        type: dict
        required: true
        description: >
          Contains information about distribution of container health check scripts.
          Keys state for container names and value is name of a script directory
          from module's files directory.
