---
- name: Check remote connections
  ansible.builtin.import_playbook: connection.yml
- name: Configure OvS DPDK
  hosts: "{{ edpm_override_hosts | default('all', true) }}"
  strategy: linear
  gather_facts: "{{ gather_facts | default(false) }}"
  tasks:
    - name: Configure OvS DPDK configs
      ansible.builtin.import_role:
        name: osp.edpm.edpm_ovs_dpdk
      tags:
        - edpm_ovs_dpdk
