---

- name: Deploy EDPM Network
  hosts: "{{ edpm_override_hosts | default('all', true) }}"
  strategy: linear
  gather_facts: "{{ gather_facts | default(false) }}"
  any_errors_fatal: "{{ edpm_any_errors_fatal | default(true) }}"
  max_fail_percentage: "{{ edpm_max_fail_percentage | default(0) }}"
  environment: "{{ edpm_playbook_environment | default({}) }}"
  tasks:
    - name: Gather ansible_local facts
      ansible.builtin.setup:
        gather_subset:
          - "!all"
          - "!min"
          - "local"

    - name: Import edpm_ovs to install ovs packages
      ansible.builtin.include_role:
        name: osp.edpm.edpm_ovs
      when: edpm_network_config_purge_provider | default('') | length == 0
      tags:
        - edpm_ovs

    - name: Purge edpm_network_config
      ansible.builtin.include_role:
        name: osp.edpm.edpm_network_config
        tasks_from: purge_os_net_config.yml
      when: edpm_network_config_purge_provider | default('') | length > 0
      tags:
        - edpm_purge_network_config

    # Sets up EDPM network using os-net-config
    - name: Import edpm_network_config
      ansible.builtin.import_role:
        name: osp.edpm.edpm_network_config
      tags:
        - edpm_network_config
