---

- name: Select Kernel DDP Package
  hosts: all
  strategy: linear
  become: true
  tasks:
    - name: Run edpm_ddp_package
      ansible.builtin.import_role:
        name: osp.edpm.edpm_ddp_package
      tags:
        - edpm_ddp_package
