name: Run Molecule tests

on:
  pull_request:
    types:
    - opened
    - reopened
    - synchronize
    paths:
    - '.github/**'
    - 'roles/**'
    - 'plugins/**'
    - 'molecule-requirements.txt'
    - 'requirements.yml'
    - 'molecule/**'
  workflow_dispatch:
jobs:
  run_molecule:
    strategy:
      fail-fast: true
      matrix:
        tested_role:
        - edpm_ssh_known_hosts

    runs-on: ubuntu-22.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.9'
    - name: Check whether the role is modified
      id: check_role
      run: |
        git fetch origin $GITHUB_BASE_REF
        if [[ $(git diff --name-only origin/$GITHUB_BASE_REF roles | grep "${{ matrix.tested_role }}/") ]]; then
          echo "modified=true" >> $GITHUB_OUTPUT
        else
          echo "modified=false" >> $GITHUB_OUTPUT
        fi
    - name: Install ansible
      if: steps.check_role.outputs.modified == 'true'
      run: pip install ansible
    - name: Install collections
      if: steps.check_role.outputs.modified == 'true'
      run: ansible-galaxy collection install --force -r requirements.yml
    - name: Install molecule deps
      if: steps.check_role.outputs.modified == 'true'
      run: pip install -r molecule-requirements.txt
    - name: Run molecule test
      if: steps.check_role.outputs.modified == 'true'
      run: |
        cd $GITHUB_WORKSPACE/roles/${{ matrix.tested_role }}
        molecule test --all
      env:
        PY_COLORS: '1'
        ANSIBLE_FORCE_COLOR: '1'
        ANSIBLE_VERBOSITY: 4
        ANSIBLE_CALLBACKS_ENABLED: profile_tasks
