name: Run Molecule tests

on:
  pull_request:
    types:
    - opened
    - reopened
    - synchronize
    paths:
    - '.github/**'
    - 'roles/**'
    - 'plugings/**'
    - 'molecule-requirements.txt'
    - 'requirements.yml'
jobs:
  run_molecule:
    strategy:
      fail-fast: true
      matrix:
        tested_role:
        - edpm_bootstrap
        - edpm_ceph_client_files
        - edpm_container_manage
        - edpm_container_rm
        - edpm_container_standalone
        - edpm_growvols
        - edpm_logrotate_crond
        - edpm_multipathd
        - edpm_network_config
        - edpm_neutron_metadata
        - edpm_neutron_ovn
        - edpm_neutron_sriov
        - edpm_nftables
        - edpm_nodes_validation
        - edpm_ovn
        - edpm_sshd
        - edpm_ssh_known_hosts
        - edpm_timezone
        - edpm_tuned
        - edpm_telemetry
        - edpm_users
        - env_data

    runs-on: ubuntu-22.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: '3.9'
    - name: Install ansible
      run: pip install ansible
    - name: Install collections
      run: ansible-galaxy collection install -r requirements.yml
    - name: Install molecule deps
      run: pip install -r molecule-requirements.txt
    - name: Run molecule test
      run: ansible-playbook .github/playbooks/molecule-run.yml -vvvv --connection=local -i localhost
      env:
        ROLE_NAME: ${{ matrix.tested_role }}
