name: Run Molecule tests

on:
  pull_request:
    types:
    - opened
    - reopened
    - synchronize
    paths:
    - '.github/**'
    - 'roles/**'
    - 'plugings/**'
    - 'molecule-requirements.txt'
    - 'requirements.yml'
jobs:
  run_molecule:
    strategy:
      fail-fast: true
      matrix:
        tested_role:
        - edpm_ceph_client_files
        - edpm_ceph_hci_pre
        - edpm_container_manage
        - edpm_container_rm
        - edpm_container_standalone
        - edpm_ddp_package
        - edpm_derive_pci_device_spec
        - edpm_download_cache
        - edpm_growvols
        - edpm_logrotate_crond
        - edpm_multipathd
        - edpm_network_config
        - edpm_neutron_dhcp
        - edpm_neutron_metadata
        - edpm_neutron_ovn
        - edpm_neutron_sriov
        - edpm_nftables
        - edpm_nodes_validation
        - edpm_ovn
        - edpm_reboot
        - edpm_sshd
        - edpm_ssh_known_hosts
        - edpm_timezone
        - edpm_tuned
        - edpm_telemetry
        - edpm_users
        - env_data

    runs-on: ubuntu-22.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.9'
    - name: Install ansible
      run: pip install ansible
    - name: Install collections
      run: ansible-galaxy collection install -r requirements.yml
    - name: Install molecule deps
      run: pip install -r molecule-requirements.txt
    - name: Run molecule test
      run: |
        cd $GITHUB_WORKSPACE/roles/${{ matrix.tested_role }}
        molecule test --all
      env:
        PY_COLORS: '1'
        ANSIBLE_FORCE_COLOR: '1'
        ANSIBLE_VERBOSITY: 4
